body {
    font-family: sans-serif;
    background-color: white;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/5d/7c/b6/5d7cb6087ac523e05da7645b412ae1e7.gif);
    
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
        max-width: 800px;
        margin: 0 auto;
        color: #073254;
        font-family: sans-serif;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }